.body-content {
    height: calc(100vh - 3.7rem);
    display: flex;
    margin-top: calc(.7rem + 3rem);
    width: calc(100vw - 20px);
}

.overlay-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}

.overlay-email-body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}

.email-section {
    margin-left: 0px;
}

/* Media query for mobile view */
@media (max-width: 767px) {
    /* .row.email-section {
        flex-direction: column;
        margin: 0;

    } */

    .body-content {
        height: calc(100vh - 4.02rem);
        display: flex;
        margin-top: calc(.02rem + 3rem);
    }

    .sidebar {
        position: absolute !important;
        background-color: white;
        width: 230px;
        margin-left: 12px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* .layout_email.mobile_screen {
        position: absolute !important;
 
        background-color: #fff;
        width: calc(100vw - 51px);
    } */
    /* .layout_inbox{
        width: calc(100vw - 50px);
    } */
}