.btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #0F6CBD;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #0F6CBD;
}

.btn:active {
    border-color: #fff !important;
}
.btn:disabled{
    border: none;
}
.mobile .icon-container {
    display: flex;
    align-items: center;
  }
  
  .mobile .plus-icon {
    margin-bottom: 8px; /* Adjust the margin as needed */
  }