
.email-dropdown {
    position: relative;
  }

  .fev_dropdown {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 3px 10px;
    &:hover {
      background-color: #EBEBEB;
      border: 1px solid rgb(222, 226, 230);
      border-radius: 3px;
    }
  }
  /* .email-dropdown .fev_dropdownMenuButton li:hover{
    background-color: red;
    padding: 0.25rem 1.5rem;
  } */